@import "normalize/normalize";
@import 'util/functions';
@import 'util/fluid_type';
@import 'typography/fonts';
@import 'typography/typebase';
@import 'navigation/navigation';
//@import 'scrollbars/vuebar';

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: #eeeeee;
  height: 100%;
  margin: 0;
  background-color: black;
}

svg {
  max-width: 100%;
}

#app {
  height: 100%;
}

