<template>
  <div id="app">
    <main-nav></main-nav>
    <settings-drawer></settings-drawer>
    <router-view></router-view>
  </div>
</template>

<script>

  import MainNav from './MainNav.vue';
  import SettingsDrawer from './SettingsDrawer.vue';

  export default {
    name: 'App',
    components: {
      SettingsDrawer,
      MainNav
    }
  };
</script>

<style lang="scss" scoped>

</style>