<template>
  <div id="damaged_helmet" class="fullscreen">
    <!---->
  </div>
</template>

<script>

  import * as THREE from 'three';
  import Detector   from '../scripts/Detector.js';
  import '../scripts/GLTFLoader.js';
  import '../scripts/OrbitControls.js';

  let path = require('path');
  let container, controls, camera, scene, renderer, light;

  export default {
    name: 'DamagedHemlet',
    mounted: function () {

      // Check if browser supports WebGL / Three.js
      if (Detector.webgl) {
        init();
        animate();
      } else {
        console.log('Three.js does not seem to be compatible ...');
      }
    },
    destroyed: function() {
      // Force the renderer to discard the context. Prevents console warnings about "too many contexts".
      // Eventually it will be better to just have one global renderer, and just swap-out scenes
      // (as that seems to be how renderers are intended to be used)
      renderer.forceContextLoss();
    }
  };


  function init() {
    //container
    container = document.getElementById("damaged_helmet");

    // camera
    camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 0.25, 20 );
    camera.position.set( -1.8, 0.9, 2.7 );

    // controls
    controls = new THREE.OrbitControls( camera );
    controls.target.set( 0, -0.2, -0.2 );
    controls.update();

    // envmap
    var envPath = '../assets/textures/Bridge2/';
    var format = '.jpg';
    var envMap = new THREE.CubeTextureLoader().load( [
      path.resolve(__dirname, envPath + 'posx' + format),
      path.resolve(__dirname, envPath + 'negx' + format),
      path.resolve(__dirname, envPath + 'posy' + format),
      path.resolve(__dirname, envPath + 'negy' + format),
      path.resolve(__dirname, envPath + 'posz' + format),
      path.resolve(__dirname, envPath + 'negz' + format)
    ] );

    scene = new THREE.Scene();
    scene.background = envMap;
    light = new THREE.HemisphereLight( 0xbbbbff, 0x444422 );
    light.position.set( 0, 1, 0 );
    scene.add( light );

    // model
    var loader = new THREE.GLTFLoader();
    loader.load( path.resolve(__dirname, '../assets/models/DamagedHelmet/DamagedHelmet.gltf'), function ( gltf ) {
      gltf.scene.traverse( function ( child ) {
        if ( child.isMesh ) {
          child.material.envMap = envMap;
        }
      } );
      scene.add( gltf.scene );
    } );


    // Renderer
    renderer = new THREE.WebGLRenderer( { antialias: true } );
    renderer.setPixelRatio( window.devicePixelRatio );
    renderer.setSize( window.innerWidth, window.innerHeight );
    renderer.gammaOutput = true;
    container.appendChild( renderer.domElement );

    // Set resize function
    window.addEventListener( 'resize', onWindowResize, false );
  }


  // Window Resize
  function onWindowResize() {
    camera.aspect = window.innerWidth / window.innerHeight;
    camera.updateProjectionMatrix();
    renderer.setSize( window.innerWidth, window.innerHeight );
  }


  // Animation loop
  function animate() {
    requestAnimationFrame( animate );
    renderer.render( scene, camera );
  }
</script>

<style lang="scss" scoped>
  .fullscreen {
    line-height: 0;
  }
</style>