<template>
  <label :for="id">
    {{label}}
    <input
      :id="id"
      :name="id"
      type="checkbox"
      :checked="checked"
      v-on:change="toggleSound">
  </label>
</template>

<script>
  export default {
    name: 'LabelToggle',
    props: [
      'id',
      'label',
      'checked'
    ],
    methods: {
      toggleSound: function(event) {
        this.$emit('update:checked', event);
      }
    }
  };
</script>

<style lang="scss" scoped>
label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
</style>