<template>
  <nav>
    <ul>
      <li v-for="route in routes">
        <router-link :to="route.path">{{route.title}}</router-link>
      </li>
    </ul>
  </nav>
</template>

<script>

  export default {
    name: 'MainNav',
    computed: {
      routes: function () {
        // Nav links are retrieved from the Router
        var routes = [];
        for (var i in this.$router.options.routes) {
          if (!this.$router.options.routes.hasOwnProperty(i)){
            continue
          }
          var route = this.$router.options.routes[i];
          // only return routes with a "title" property
          if(route.hasOwnProperty('title')) {
            routes.push(route);
          }
        }
        return routes;
      }
    },
    created: function() {

    },
    mounted: function() {

    }
  };
</script>

<style lang="scss" scoped>
nav {
  height: 10vh;
  position: fixed;

  ul {
    margin: 0;
  }
}
</style>