<template>
  <div id="quarters" class="fullscreen">
  </div>
</template>

<script>
  import * as THREE from 'three';
  import Detector   from '../scripts/Detector.js';
  import '../scripts/GLTFLoader.js';
  import '../scripts/OrbitControls.js';

  let path = require('path');
  let container, controls, camera, scene, renderer, light;

  export default {
    name: 'Quarters',
    // components: {
    //
    // },
    mounted: function () {

      // Check if browser supports WebGL / Three.js
      if (Detector.webgl) {
        init();
        animate();
      } else {
        console.log('Three.js does not seem to be compatible ...');
      }
    },
    destroyed: function() {
      // TEMPORARY: Force the renderer to discard the context. Prevents console warnings about "too many contexts".
      // Eventually it will be better to just have one global renderer, and just swap-out scenes
      // (as that seems to be how renderers are intended to be used)
      renderer.forceContextLoss();
    }
  };


  function init() {
    // Container
    container = document.getElementById("quarters");

    // Roughly the center point of the cabin.
    let center = new THREE.Vector3(0,6,0);

    // Camera
    camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 1, 1000 );
    camera.position.set( center.x, center.y, center.z + 5 );

    // Controls
    controls = new THREE.OrbitControls( camera, container );
    controls.target.set( center.x, center.y, center.z );
    controls.maxDistance = 9;
    controls.update();

    // Envmap
    // ToDo: Probably going to want to make these kind of assets public, rather than compiling them with webpack. Paths will likely be supplied by API response.
    let envMap = new THREE.CubeTextureLoader().load([
      require( '../assets/textures/MilkyWay/dark-s_px.jpg' ),
      require( '../assets/textures/MilkyWay/dark-s_nx.jpg' ),
      require( '../assets/textures/MilkyWay/dark-s_py.jpg' ),
      require( '../assets/textures/MilkyWay/dark-s_ny.jpg' ),
      require( '../assets/textures/MilkyWay/dark-s_pz.jpg' ),
      require( '../assets/textures/MilkyWay/dark-s_nz.jpg' )
    ]);

    // Scene
    scene = new THREE.Scene();
    scene.background = envMap;

    light = new THREE.HemisphereLight( 0xbbbbff, 0x444422 );
    light.position.set( 0, 1, 0 );
    scene.add( light );


    // Grid Lines
    let size = 50;
    let divisions = 50;

    let gridHelper = new THREE.GridHelper( size, divisions, "red", "#333" );
    scene.add( gridHelper );


    // Model / Loader
    let quarters_model = require('../assets/models/pod.glb');
    let loader = new THREE.GLTFLoader();
    loader.load( quarters_model, function ( gltf ) {
      gltf.scene.traverse( function ( child ) {
        if ( child.isMesh ) {
          child.material.envMap = envMap;
        }
      } );
      scene.add( gltf.scene );
    });


    // Add an object at the origin for reference...
    let geometry = new THREE.BoxGeometry( 1, 1, 1 );
    let material = new THREE.MeshBasicMaterial({ color: 0x00ff00 });
    let cube = new THREE.Mesh( geometry, material );
    cube.position.set(center.x, center.y, center.z);
    //scene.add( cube );


    // Renderer
    renderer = new THREE.WebGLRenderer( { antialias: true } );
    renderer.setPixelRatio( window.devicePixelRatio );
    renderer.setSize( window.innerWidth, window.innerHeight );
    renderer.gammaOutput = true;
    container.appendChild( renderer.domElement );

    // Set resize function
    window.addEventListener( 'resize', onWindowResize, false );
  }


  // Window Resize
  function onWindowResize() {
    camera.aspect = window.innerWidth / window.innerHeight;
    camera.updateProjectionMatrix();
    renderer.setSize( window.innerWidth, window.innerHeight );
  }


  // Animation loop
  function animate() {
    requestAnimationFrame( animate );
    renderer.render( scene, camera );
  }
</script>

<style lang="scss" scoped>
  .fullscreen {
    line-height: 0;
  }
</style>