<template>
  <div class="scrollHandle">
    <div class="scrollHandleIcon" v-html="scrollIcon"></div>
  </div>
</template>

<script>
  let iconPaths = {
    "max":     require("../assets/icons/SVG/192-menu3.svg?fill=#fff"),
    "min":     require("../assets/icons/SVG/193-menu4.svg?fill=#fff"),
    "middle":  require("../assets/icons/SVG/191-menu2.svg?fill=#fff"),
    "default": require("../assets/icons/SVG/190-menu.svg?fill=#fff"),
  };

  export default {
    name: 'ScrollHandle',
    props: ['resizeStatus'],
    data: function () {
      return {
        iconPath: iconPaths["default"],
      };
    },
    computed: {
      scrollIcon: function() {
        return iconPaths[this.resizeStatus];
      }
    },
    created: function() {

    },
    mounted: function () {
      console.log(this.resizeStatus);
    }
  };
</script>

<style lang="scss" scoped>

  .scrollHandle {
    display: flex;
    align-items: center;
    justify-content: center;

    &Icon {
      width: 22px;
      height: 22px;
      line-height: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
    }
  }

</style>