<template>
  <div class="settingsPanel">

    <!-- VOLUME INDICATOR -->
    <div class="panelCell">
      <volume-indicator
        :volume-src="controls[0].volume"
        v-on:click.native="toggleNoise( controls[0] )">
      </volume-indicator>
    </div>

    <!-- MASTER VOLUME TOGGLE / SLIDER -->
    <div class="panelCell">
      <label-toggle
        id="masterVolumeToggle"
        :label="controls[0].label"
        :checked="controls[0].isChecked"
        v-on:update:checked="toggleNoise( controls[0] )">
      </label-toggle>
      <range-slider
        min="0"
        max="1"
        step="0.01"
        id="rangeSliderMaster"
        name="rangeSliderMaster"
        class="slider"
        v-model="controls[0].volume"
        v-on:input="updateVolume( controls[0], ...arguments )">
      </range-slider>
    </div>

    <!-- ENGINE HUM TOGGLE / SLIDER -->
    <div class="panelCell">
      <label-toggle
        id="humToggle"
        :label="controls[1].label"
        :checked="controls[1].isChecked"
        v-on:update:checked="toggleNoise( controls[1] )">
      </label-toggle>
      <range-slider
        min="0"
        max="1"
        step="0.01"
        id="rangeSliderShipHum"
        name="rangeSliderShipHum"
        class="slider"
        v-model="controls[1].volume"
        v-on:input="updateVolume( controls[1], ...arguments )">
      </range-slider>
    </div>

    <!-- BEEPING SOUND TOGGLE / SLIDER -->
    <div class="panelCell">
      <label-toggle
        id="beepToggle"
        :label="controls[2].label"
        :checked="controls[2].isChecked"
        v-on:update:checked="toggleNoise( controls[2] )">
      </label-toggle>
      <range-slider
        min="0"
        max="1"
        step="0.01"
        id="rangeSliderBeep"
        name="rangeSliderBeep"
        class="slider"
        v-model="controls[2].volume"
        v-on:input="updateVolume( controls[2], ...arguments )">
      </range-slider>
    </div>

  </div>
</template>


<script>
  import Pizzicato   from 'pizzicato';
  import RangeSlider from 'vue-range-slider';
  import VolumeIndicator from './VolumeIndicator.vue';
  import LabelToggle from './LabelToggle.vue';
  import 'vue-range-slider/dist/vue-range-slider.css';

  let hummingSound;
  let astrometricsBeep;


  export default {
    name: 'SettingsPanel',
    data: function() {
      return {

        controls: [
          {
            name: "master",
            label: "Master Volume",
            volume: 0.80,
            oldVolume: 0.80,
            isChecked: true,
            soundObject: null
          },
          {
            name: "hum",
            label: "Engine Hum",
            volume: 1.00,
            oldVolume: 1.00,
            isChecked: true,
            soundObject: null
          },
          {
            name: "beep",
            label: "Beep",
            volume: 1.00,
            oldVolume: 1.00,
            isChecked: true,
            soundObject: null
          }
        ]
      }
    },
    methods: {
      updateVolume: function( noise, volume = noise.oldVolume ) {
        //console.log(noise.soundObject);
        let soundObj = noise.soundObject;
        soundObj.volume = volume;
      },
      toggleNoise: function( noise ) {

        if (noise.isChecked) {
          noise.oldVolume = noise.volume;
          noise.volume = 0;
        } else {
          noise.volume = noise.oldVolume;
        }
        noise.soundObject.volume = noise.volume;
        noise.isChecked = !noise.isChecked;

      }
    },
    components: {
      LabelToggle,
      RangeSlider,
      VolumeIndicator
    },
    created: function() {

      // Load and play the ship humming sound
      hummingSound = new Pizzicato.Sound({
        source: 'file',
        options: {
          loop: true,
          path: require('../assets/audio/tng_hum_clean.mp3'),
        }
      }, function(){
        hummingSound.play();
      });


      // Load and play the astrometrics beeping sound
      let BeepInterval = 2; // interval in seconds
      BeepInterval *= 1000;
      astrometricsBeep = new Pizzicato.Sound( require('../assets/audio/astrometrics_beeps.mp3'), function() {
        let repeatHandle = window.setInterval( function() {
          astrometricsBeep.play();
        }, BeepInterval );
      });

      // Add pizzicato sound objects to the controls data
      this.controls[0].soundObject = Pizzicato;
      this.controls[1].soundObject = hummingSound;
      this.controls[2].soundObject = astrometricsBeep;

      // Set the master volume based on defaults
      this.updateVolume( this.controls[0] );

    },
    mounted: function() {

    },
    destroyed: function() {
      // Stop the sound output when removing the component.
    }
  };
</script>


<style lang="scss" scoped>
  .settingsPanel {
    display: flex;

    .panelCell {
      padding: 1em;
    }
  }
</style>