<template>
  <div class="settingsDrawer resizePanel">

    <scroll-handle v-bind:resizeStatus="resizeStatus"></scroll-handle>

    <div id="drawerScroller">
      <settings-panel></settings-panel>
    </div>

  </div>
</template>


<script>
  import SettingsPanel from './SettingsPanel';
  import PerfectScrollbar from 'perfect-scrollbar';
  import 'perfect-scrollbar/css/perfect-scrollbar.css';
  import ScrollHandle from './ScrollHandle';
  import interact from 'interactjs';

  let vm;
  let scroller = null;
  // let resizeObject = null;
  let resizeStatus = "default";


  export default {
    name: 'SettingsDrawer',
    data: function() {
      return {
        resizeStatus,
        scrollSettings: {
          //maxScrollbarLength: 60
        }
      }
    },
    methods: {
      resizeMove(event) {
        // Manually change the height of the element
        let target    = event.target;
        let newHeight = event.rect.height;
        target.style.height = newHeight + "px";
        // Update the scrollbar size
        scroller.update();
        vm.updateResizeSatus();
      },
      getResizeStatus() {
        let resizeRect = vm.resizeObject.events.getRect(),
          minHeight = vm.resizeObject.options.resize.restrictSize.min.height,
          maxHeight = vm.resizeObject.options.resize.restrictSize.max.height;
        return (
          (resizeRect.height === maxHeight)? "max" :
          (resizeRect.height === minHeight)? "min" : "middle"
        );
      },
      updateResizeSatus() {
        vm.resizeStatus = vm.getResizeStatus();
      }
    },
    components: {
      ScrollHandle,
      SettingsPanel
    },
    created: function() {
      vm = this;
    },
    mounted: function () {

      let scrollHandleEl = document.querySelector(".scrollHandle");
      console.log(scrollHandleEl);

      // Configure resizing
      vm.resizeObject = interact('.resizePanel').resizable({
        // resize from only the top
        edges: { top: scrollHandleEl },
        // restrict to parent
        restrictEdges: { outer: 'parent' },
        // restrict dimensions
        restrictSize: {
          min: { height: 0 },
          max: { height: 500 }
        },
        inertia: true,
      }).on('resizemove', vm.resizeMove);


      // Update the icon on the resize handle
      vm.updateResizeSatus();

      // Setup Scrollbar
      let scrollerEl = document.querySelector("#drawerScroller");
      scroller = new PerfectScrollbar(scrollerEl, {
        wheelSpeed: 2,
        wheelPropagation: true,
        minScrollbarLength: 20
      });

      scrollerEl.addEventListener('ps-scroll-down', function(){
        //console.log("scrolled down!");
      });

      // window resize event listener
      window.addEventListener('resize', scroller.update);
      scroller.update();

    },
    destroyed: function() {
      // ToDo: destroy what was created in mounted, remove event listeners...
    }
  };
</script>


<style lang="scss" scoped>

  #drawerScroller {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    overflow-y: scroll;
  }

  .scrollHandle {
    top: -20px;
    left: 0;
    right: 0;
    width: 100%;
    height: 20px;
    position: absolute;
    background-color: rgba(black, 0.85);
    /*background-image: url("../assets/icons/SVG/190-menu.svg");*/
    background-size: 30px 30px;
    background-position: center;
  }

  .settingsDrawer {
    bottom: 0;
    width: 100%;
    height: 30vh;
    /*overflow: hidden;*/
    position: absolute;
    background-color: rgba(black, 0.65);

  }

  .resizePanel {
    bottom: 0;
    width: 100%;
    height: 200px;
    position: absolute;
  }

</style>