<template>
  <div class="splash">
    <warp-canvas></warp-canvas>

    <div class="splash_center">
      <img :src="require('../assets/images/insignia.svg')" alt="Minimalist Star Trek Insignia" class="insignia">
      <header>
        <h1>{{page_title}}</h1>
        <p>{{page_subtitle}}</p>
      </header>
    </div>
  </div>
</template>


<script>

  import WarpCanvas   from './WarpCanvas.vue';

  module.exports = {
    data: function () {
      return {
        page_title: 'Starship Sounds',
        page_subtitle: 'Embark on an epic voyage of tranquility ...'
      }
    },
    components: {
      WarpCanvas
    }
  }
</script>


<style lang="scss" scoped>

  .splash {

    height: 100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  .splash_center {
    height: 90vh;
    display: flex;
    padding: 10vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .insignia {
    width: 200px;
    max-width: 25%;
  }

  header {
    max-width: 70%;

    // Main Heading
    h1 {
      color: #f2c300;
      font-family: 'TNG Title Italic', serif;
      font-style: italic;
      font-weight: 200;

      // Subheading
      &+p {
        font-family: "Jefferies", serif;
      }
    }
  }

</style>