<!-- This component is responsible for rendering an animated volume indicator -->

<template>
  <div class="volume_indicator">
    <h1 class="volumeSrcLabel">{{volumeSrc | roundVolumeTwoDigits}}</h1>
    <div class="volumeIcon" v-html="volumeIcon"></div>
  </div>
</template>


<script>
  let volumeIcons = [
    (require('../assets/icons/SVG/299-volume-mute2.svg')),
    (require('../assets/icons/SVG/298-volume-mute.svg')),
    (require('../assets/icons/SVG/297-volume-low.svg')),
    (require('../assets/icons/SVG/296-volume-medium.svg')),
    (require('../assets/icons/SVG/295-volume-high.svg')),
  ];

  export default {
    name: 'VolumeIndicator',
    props: ['volumeSrc'],
    watch: {
      volumeSrc: function(volume) {
        this.getIconIndex();
        this.volumeIcon = volumeIcons[this.getIconIndex(volume)];
      }
    },
    data: function() {
      return {
        volumeIcon: volumeIcons[this.getIconIndex(this.volumeSrc)],
      }
    },
    filters: {
      roundVolumeTwoDigits: function (value) {
        return Number.parseFloat(value).toFixed(2);
      }
    },
    methods: {
      getIconIndex: function(volume) {
        // returns array index for appropriate volume icon
        return (
          ( volume == 0    )? 0 :   // Mute
          ( volume >= 0.75 )? 4 :   // High
          ( volume >= 0.50 )? 3 :   // Medium
          ( volume >= 0.25 )? 2 :   // Low
          ( volume >  0    )? 1 : 1 // Lowest : Default
        );
      }
    }
  };
</script>


<style lang="scss" scoped>
  .volumeIcon {
    width: 200px;
    max-width: 200px;
    cursor: pointer;
    svg {
      display: none;
    }
  }
  svg {
    width: 200px;
    max-width: 200px;
  }
  .volumeSrcLabel {
    width: 500px;
    max-width: 500px;
  }
</style>