$fonts__dir: "../fonts/";


// ORIGINAL SERIES
// Star Trek (TOS) Title Font - Regular
@font-face {
  font-family: 'TOS Title';
  font-style: normal;
  font-weight: normal;
  src: url( $fonts__dir + 'TOS_Title_regular.woff' ) format( 'woff' ),
       url( $fonts__dir + 'TOS_Title_regular.ttf'  ) format( 'truetype' );
}
// Star Trek (TOS) Title Font - Italic
@font-face {
  font-family: 'TOS Title';
  font-style: italic;
  font-weight: normal;
  src: url( $fonts__dir + 'TOS_Title_italic.ttf'  ) format( 'truetype' );
}
// Star Trek (TOS) Title Font - Italic - Outlined
@font-face {
  font-family: 'TOS Title Italic';
  font-style: italic;
  font-weight: bold;
  src: url( $fonts__dir + 'TOS_Title_italic_outline.ttf'  ) format( 'truetype' );
}


// THE MOTION PICTURE
// Star Trek (TMP) - Regular
@font-face {
  font-family: 'TMP Title';
  font-style: normal;
  font-weight: normal;
  src: url( $fonts__dir + 'TMP_Title.ttf'  ) format( 'truetype' );
}


// NOVA
// Nova Light
@font-face {
  font-family: 'Nova Light';
  font-style: normal;
  font-weight: normal;
  src: url( $fonts__dir + 'Nova_Light.ttf'  ) format( 'truetype' );
}
// Nova Light Ultra Thin
@font-face {
  font-family: 'Nova Light';
  font-style: normal;
  font-weight: 200;
  src: url( $fonts__dir + 'Nova_Light_ultra_thin.ttf'  ) format( 'truetype' );
}


// THE NEXT GENERATION
// Star Trek (TNG) Title Font - Italic
@font-face {
  font-family: 'TNG Title Italic';
  font-style: italic;
  font-weight: normal;
  src: url( $fonts__dir + 'TNG_Title_italic.ttf'  ) format( 'truetype' );
}
@font-face {
  font-family: 'TNG Credits';
  font-style: italic;
  font-weight: normal;
  src: url( $fonts__dir + 'TNG_Credits.ttf'  ) format( 'truetype' );
}


// Deep Space 9
// Star Trek (DS9) Title Font - Regular
@font-face {
  font-family: 'DS9 Title Regular';
  font-style: normal;
  font-weight: normal;
  src: url( $fonts__dir + 'DS9_Credits.ttf'  ) format( 'truetype' );
}
// Star Trek (DS9) Credit Font - Regular
@font-face {
  font-family: 'DS9 Credit Regular';
  font-style: normal;
  font-weight: normal;
  src: url( $fonts__dir + 'DS9_Title.ttf'  ) format( 'truetype' );
}


// OTHER
// Final Frontier
@font-face {
  font-family: 'DS9 Credit Regular';
  font-style: normal;
  font-weight: normal;
  src: url( $fonts__dir + 'DS9_Title.ttf'  ) format( 'truetype' );
}
// Jefferies
@font-face {
  font-family: 'Jefferies';
  font-style: normal;
  font-weight: normal;
  src: url( $fonts__dir + 'Jefferies.ttf'  ) format( 'truetype' );
}
// Montalban
@font-face {
  font-family: 'Montalban';
  font-style: normal;
  font-weight: normal;
  src: url( $fonts__dir + 'Montalban.ttf'  ) format( 'truetype' );
}
